/*
*Details of the styling on this website
*Color scheme:

Purple = #9932cc
Blue = #13039b
*/

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

/* NAVBAR
-------------------------------------------------- */
#section1 {
    /* opacity: 0; */
}
.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.fill-screen {
    background-image: url('img/desk.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.title-row {
    position: relative;
    min-height: 300px;
}
.title-text {
    font-size: 75px;
    font-family: 'Petit Formal Script', cursive;
    color: #fff;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation-duration: 3s;
    animation-delay: 1s;
}

.title-text-2 {
    font-size: 21px;
    font-family: 'Petit Formal Script', cursive;
    color: #fff;
    position: absolute;
    padding: 20px;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
     animation-duration: 3s;
    animation-delay: 1s;
}

 .fa-arrow-circle-down {
    font-size: 70px;
    color: #fff;
}

.down-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

/* CUSTOMIZED CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    height: 65em;
    margin-bottom: 30px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 65em;
    background-color: #333;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 65em;
}

.header-btn {
    width: 20em;
    height: 3.5em;
    border-radius: 15px;
    background-color: #13039b;
    border-color: #13039b;
    color: #fff;
    font-size: 24px;
}

.header-btn:hover {
    background-color: #9932cc;
    border-color: #9932cc;
}

@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 40px;
        font-size: 21px;
        line-height: 1.4;
    }
}


/* aboutMe
------------------------- */

.aboutMe-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}

.aboutMe {
    padding-top: 135px;
    overflow: hidden;
}

.aboutMe-image {
    /*margin-top: -120px; Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}


/* Give some space on the sides of the floated elements so text doesn't run right into it. */

.aboutMe-image.pull-left {
    margin-right: 40px;
}

.aboutMe-image.pull-right {
    margin-left: 40px;
}


/* Thin out the marketing headings */

.aboutMe-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #000;
    visibility: hidden;
}

.lead {
    margin: 35px;
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
}


/* skills
-------------------------------------------------- */

.skills {
    margin: 100px auto;
    background-color: #13039b;
}

.skills .col-md-4 {
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.skills .col-md-4 .glyphicon {
    font-size: 120px;
    background-color: #EAEAEA;
    border-radius: 50%;
    padding: 40px;
    margin: 150px auto;
    color: #111;
}

.skills-heading {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 25px;
}

.card {
    height: 15rem;
}


/* GITHUB BUTTON
---------------------------------------------- */

.projects {
    margin: 160px;
}

.git-header,
.cp-header {
    text-align: center;
    font-size: 28px;
}

.git-text,
.cp-text {
    font-size: 18px;
    text-align: center;
}

.git-btn,
.cp-btn {
    margin-top: 50px;
    padding: 20px 70px;
    background-color: #13039b;
    border-color: #13039b;
    border-radius: 15px;
    font-size: 36px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    width: 10em;
}

.cp-btn:hover,
.git-btn:hover {
    background-color: #9932cc;
    border-color: #9932cc;
}

@media screen and (max-width: 480px) {
    .projects-sm.hidden-md.hidden-lg {
        margin: 45px;
    }
}


/* STICKY FOOTER
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

.footer,
footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 400px;
    background: #444;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 40px 0;
}

.contact-email {
    color: #fff;
}

.footer-contact {
    font-size: 24px;
}

.contact-i {
    margin: 5px;
    color: #fff;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}


/* RESPONSIVE CSS
-------------------------------------------------- */